:root {
  --main-white: #f0f0f0;
  --main-red: #be3144;
  --main-blue: #45567d;
  --main-gray: #303841;
}

* {
    padding: 0;
    margin: 0;
  }

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.navigation {
  display: flex;
  justify-content: flex-end;
  background: var(--main-red);
  position: fixed;
  width: 100%;
  z-index: 1;
}

.nav-list {
  display: flex;
  margin-right: 3rem;
  list-style: none;
}

.nav-list a {
  display: block;
  font-size: 2rem;
  padding: 1rem;
  color: var(--main-white);
  text-decoration: none;
}

.nav-list a:hover {
  background: var(--main-blue);
}

.introduction {
  background-color: var(--main-gray);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.introduction h1 {
  font-size: 3rem;
  color: var(--main-white);
}

.introduction p {
  font-size: 1.5rem;
  color: var(--main-red);
  padding-top: 1.5rem;
}

.projects {
  background-color: var(--main-blue);
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.project {
  background: var(--main-gray);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}

.projects p {
  text-align: center;
  padding: 1.5rem 0.5rem;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: var(--main-white);
}

.projects h2 {
  font-size: 3rem;
  color: var(--main-white);
  padding: 70px 10px 50px 10px;
  text-align: center;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

.project-tile {
  height: 500px;
}

.project-image {
  height: calc(100% - 6rem);
  width: 100%;
  object-fit: cover;
}

.project-title {
  font-size: 2rem;
}

.code {
  color: var(--main-gray);
  transition: color 0.3s ease-out;
}

.project:hover .code {
  color: #ff7f50;
}

.button {
  display: flex;
  justify-content: center;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 2px;
}

.btn-show-all {
  font-size: 2rem;
  background: var(--main-gray);
  transition: background 0.3s ease-out;
}

.btn-show-all:hover {
  background: var(--main-red);
}

.btn-show-all:hover > i {
  transform: translateX(2px);
}

.btn-show-all > i {
  margin-left: 10px;
  transform: translateX(0);
  transition: transform 0.3s ease-out;
}